.wrapperTextarea {
    display: flex;
    position: relative;
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
    padding: 20px 10px;
    border-radius: 5px;
}
.myPostForm{
    display: flex;
    width: 100%;
}
.postsTextarea {
    margin: 20px 0px 0px 0px;
}
.postsTextarea textarea {
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 7px 15px;
    resize: none;
    background-color: rgb(236, 236, 236);
    line-height: 1.4;
}
.btnAddPost{
    background-color: #22a7cc;
    border: none;
    color: white;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 0px 0px 0px 10px;
}
.title{
    cursor: default;
    font-size: 20px;
    font-weight: 600;

    margin: 15px 0px 0px 0px;
}
.title span{
    color: rgb(105, 0, 0);
}
@media(max-width: 767px){

}