/* ОБНУЛЕНИЕ ================================================================================== */
* {
    box-sizing: border-box;
}
textarea,
button {
    border: none;
    outline: none;
}
.button{
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
h1{
    margin: 0;
}
p {
    margin: 0;
}

/* ОБЩИЕ СТИЛИ ================================================================================ */
.wrapper {
    display: flex;
    overflow: hidden;
}
.wrapper-content {
    padding: 15px;
    width: 100%;
    overflow: hidden;
}
@media (max-width: 767px) {
    .wrapper {
        display: block;
    }
    .wrapper-content{
            margin: 0px 0px 50px 0px;
    }
}
/* ============================================================================================ */
/* ============================================================================================ */
/* ============================================================================================ */
/* ============================================================================================ */
/* ============================================================================================ */
