.item{
    display: flex;
    align-items: center;
    height: 70px;
}
.avatar{

}
.avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    border: 2px solid #fff;
}
.info{
    margin: 0px 0px 0px 15px;
    font-weight: 500;
}

.name{
    font-size: 16px;
    color: rgb(26, 26, 26);
}
.status{
    font-size: 11px;
    margin: 3px 0px 0px 0px;
}